.herobg{
    background-color: darkgreen;
    height:700px;
}

.maincontainer{
    background-color: darkmagenta;
}

.maintext{
    background-color: #78f6eb;
    height: 650px;
}

.sidebar{
    background-color: #4ddb19;
    height: 650px;
}

.footerbg{
    background-color: #bb96f7;
    height: 150px;
}

.sleftfoot{
    background-color: #47e736;
}

.rightfoot{
    background-color: #624f96;
}